* {
    border: 2px dashed;
}
body{
    margin: 30px;
    padding: 6px;
    /* background-color: lightcoral;
    color: white; */
}
main {
    font-weight: bold;
}
h1 {
    font-size: 25px;
}
h2{
    margin: 12px 0px 2px 12px;
    text-decoration-line: underline;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
   /* padding-block-start: 12px; */
    padding: 12px;
    background: rgb(249, 243, 243);
    /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(248,0,255,1) 0%, rgba(255,55,106,0.35362504376750703) 38%, rgba(255,0,255,1) 70%, rgba(191,0,126,1) 100%); */
}

img {
    margin: 20px;
    width: 200px;
    
}
img:hover {
    border: solid 10px yellow;
}
ol {
    margin: 6px;
}
figure{
    margin: 20px;
}
ul {
    list-style-type: alpha;
    font-size: 14px;
    padding: 12px;
}
a {
    text-decoration-line: none;
    font-size: 30px;
    border: solid green;
    border-width: 5px 0px 0px 7px
}
li {
    padding: 0px 10px;
}
div {
    margin: 10pt;
}
dt {
    color: blue;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
    
}
dl {
    color: yellow;
}
footer {
    border: 5px solid black;
    font-size: 8px;
}
nav{
    color: white;
}